@import './variables';

.events {
    width: 80%;
    margin: auto;
    h2 {
        color: $deepBlue;
        font-size: 2.3rem;
        margin: 1rem 0;
    }
    p {
        font-size: 1.1rem;
        line-height: 1.8rem;
        margin-bottom: 5rem;
    }
}

.mySlides {
    img {
        height: 20rem;
    }
}