@import 'variables';
@import 'typography';
@import 'About';
@import 'Admin';
@import 'Booking';
@import 'BookingForm';
@import 'BookingList';
@import 'Confirmation';
@import 'Events';
@import 'Footer';
@import 'Header';
@import 'InfoBox';
@import 'Menu';
@import 'OpenTimes';
@import 'PageTitle';
@import 'Prices';
@import 'Start';

html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: $ghostWhite;
}

a {
    color: $accentPink;
}
