@import './variables';



.page-title {
    margin-bottom: 3rem;
    &__title{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    }
    &__underline {
        width: 80%;
        height: .15rem;
        background-color: $accentPink;
        margin: auto;
    }
}
